* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  background-color: rgb(25, 25, 208);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  svg.store {
    height: 50px;
    width: 50px;
  }

  div.navigation {
    position: relative;
    svg.burger_icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    nav {
      display: none;
      position: absolute;
      background-color: rgb(0, 0, 0);
      left: -28px;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
          a {
            color: white;
            text-decoration: none;
            padding: 20px;
            font-size: 20px;
          }
        }
      }
    }
  }
  div.navigation:hover nav {
    display: flex;
  }
  div.navigation:hover {
    scale: 1.2;
    transition-duration: 400ms;
  }
}
