* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  background-color: rgb(25, 25, 208);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  svg.store {
    height: 50px;
    width: 50px;
  }

  div.navigation {
    svg.burger_icon {
      width: 40px;
      height: 40px;
    }
    nav {
      display: none;
    }
    svg.burger_icon:hover + nav {
      display: flex;
    }
  }
}
